/**
 * Media & Text Section
 */
.media-text {
    padding: 3rem 0;

    .#{$container} {
        display: flex;
        gap: 3rem;
    }

    &__block {
        flex: 1;
    }
}

// Medium devices and larger
@include min-screen(md) {
    // Add custom CSS
}

// Medium devices and smaller
@include max-screen(md) {
    // Add custom CSS
}