/**
 * Media & Text Section
 */
.media-text {
    padding: 3rem 0;

    .#{$container} {
        display: flex;
        gap: 3rem;

        @include max-screen(md) {
            flex-direction: column;
        }
    }

    &__block {
        flex: 1;
    }
}