/* 
 * UTILITIES
 * Helper classes for ACF layouts.
 * Breakpoints available: sm, md, lg, xl.
 */

// Content container
.#{$container} {
    max-width: $container-width;
    margin: 0 auto;  
}

// Medium devices and larger
@include min-screen(md) {
    // Flex Item Alignment
    .align-start {
        align-items: flex-start;
    }

    .align-center {
        align-items: center;
    }

    .align-end {
        align-items: flex-end;
    }
} 

// Medium devices and smaller
@include max-screen(md) {
    // Stack flex items vertically
    .#{$container} {
        flex-direction: column;
    }

    // Flex Order
    .mobile-order-first {
        order: -1;
    }   
}